* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
  color: #333;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.app__left {
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 0.9;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.app__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
}
.app__dropdown {
  background-color: white;
}
.app__header > h1 {
  color: #000000;
  font-size: 2rem;
}
.app__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.app__stats .MuiCardContent-root {
  background-color: #f3f2f8;
}
.app__left {
  background-color: #ffffff;
}
.app__stats .MuiTypography-root {
  font-weight: 700;
  font-size: large;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
